.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  padding-inline: 20px;
  padding-block: 10px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 6px;
  max-width: max-content;

    transition: transform .3s ease, box-shadow .3s ease, background .3s ease;

  @media (any-hover: hover) {
    &:hover {
      transform: translateY(-2px);
    }
  }


  // .btn--main
  &--main {
    box-shadow: 0 6px 18px 0 rgba(255, 119, 0, 0.6);
    background: linear-gradient(180deg, #f70 0%, #d46300 100%);
    color: var(--white);

    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0 10px 25px rgba(255, 119, 0, 0.75);
        background: linear-gradient(180deg, #ff7a0a 0%, #dc6b06 100%);
      }
    }
  }
  // .btn--acc
  &--acc {
      box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    background: linear-gradient(180deg, #fff 0%, #efefef 100%);
    @media (any-hover: hover) {
      &:hover {
        background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
        box-shadow: 0 6px 16px rgba(0,0,0,0.12);
      }
    }
  }
}
