body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}

[data-fls-popup-open] body::after {
	opacity: 1;
}

[data-fls-popup] {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
	z-index: 150;

	&[data-fls-popup-active] {
		visibility: visible;
		overflow: auto;
		pointer-events: auto;
	}
}

[data-fls-popup-active] [data-fls-popup-body] {
	visibility: visible;
	transform: scale(1);
}

[data-fls-popup-wrapper] {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

[data-fls-popup-body] {
	visibility: hidden;
	transform: scale(0);
	transition:
		transform 0.3s ease 0s,
		visibility 0.3s ease 0s;
	background-color: #eee;
	padding: 20px;
	width: 100%;
	max-width: 900px;
	border-radius: 20px;
}

// [data-fls-popup-youtube-place] iframe {
// 	width: 100%;
// 	aspect-ratio: 16 / 9;
// }

[data-fls-popup="popup--details"] {
	[data-fls-popup-body] {
		background-color: var(--white);
		max-width: 1240px;
		padding: 20px;

		@media (min-width:toEm($mobileSmall)) {
			padding: 40px;
		}
	}

	[data-fls-popup-close] {
		position: absolute;
		top: 20px;
		right: 20px;
		display: grid;
		place-items: center;
		border-radius: 6px;
		padding: 5px;
		width: 40px;
		height: 40px;

		svg {
			width: 100%;
			height: auto;
		}
	}
}

.popup-detais {

	// .popup-detais__block
	&__block {

		p,
		li {
			line-height: 1.3;
			font-size: 18px;

			@media (min-width:toEm($mobileSmall)) {
				font-size: 24px;
			}
		}

		p {
			margin: 20px 0;

			@media (min-width:toEm($mobileSmall)) {
				margin: 24px 0;
			}
		}

		ul {
			li {
				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}
		}

		&:first-child {
			padding-bottom: 40px;

			@media (min-width:toEm($mobileSmall)) {
				padding-bottom: 45px;
			}
		}

		&:nth-child(2) {
			padding-bottom: 40px;
			margin-bottom: 40px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.2);

			@media (min-width:toEm($mobileSmall)) {
				padding-bottom: 45px;
				margin-bottom: 45px;
			}
		}
	}

	// .popup-detais__head
	&__head {
		display: flex;
		flex-direction: column;
		gap: 10px 20px;
		margin-bottom: 20px;

		@media (min-width:toEm($mobileSmall)) {
			align-items: center;
			flex-direction: row;
			margin-bottom: 22px;
		}
	}

	// .popup-detais__ic
	&__ic {
		display: inline-block;
		width: 48px;
		height: 48px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;

		@media (min-width:toEm($mobileSmall)) {
			width: 58px;
			height: 58px;
		}

		&.ic-1 {
			background-image: url("@img/gifts.png");
		}

		&.ic-2 {
			background-image: url("@img/box.png");
		}

		&.ic-3 {
			background-image: url("@img/prize.png");
		}

	}

	// .popup-detais__list
	&__list {
		list-style-type: none;
		counter-reset: item;

		li {
			position: relative;
			display: flex;
			align-items: center;
			gap: 10px;
			@media (min-width:toEm($mobileSmall)){
				gap: 14px;
			}
			&:before {
				counter-increment: item;
				content: counter(item);
				margin-top: 1px;
				align-self: flex-start;
				display: grid;
				place-items: center;
				background: linear-gradient(180deg, #00c917 0%, #00870f 100%), rgba(0, 0, 0, 0.2);
				font-weight: 700;
				color: var(--white);
				font-size: 15px;
				border-radius: 5px;
				width: 20px;
				height: 20px;
				flex: 0 0 20px;
				@media (min-width:toEm($mobileSmall)){
					margin-top: 3px;
					width: 26px;
					height: 26px;
					flex: 0 0 26px;
					border-radius: 6px;
					 font-size: 20px; 
				}
			}
		}
	}

	// .popup-detais__list-2
	&__list-2 {
		li {
			display: flex;
				align-items: center;
				gap: 10px;
			&::before {
				content:'';
				border-radius: 3px;
				width: 12px;
				height: 12px;
				flex: 0 0 12px;
				margin-top: 5px;
				align-self: flex-start;
				background: linear-gradient(180deg, #00c917 0%, #00870f 100%), rgba(0, 0, 0, 0.2);
				@media (min-width:toEm($mobileSmall)){
					margin-top: 8px;
				}
			}
		}
	}
}