<link rel="stylesheet" href="@components/layout/popup/popup.scss">
<div data-fls-popup="popup--details" aria-hidden="true" class="popup">
	<div data-fls-popup-wrapper class="popup__wrapper">
		<div data-fls-popup-body class="popup__body">
			<button data-fls-popup-close type="button" class="popup__close">
				<svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path opacity="0.4" d="M1.25 1.25L13.25 13.25M13.25 13.25L25.25 1.25M13.25 13.25L1.25 25.25M13.25 13.25L25.25 25.25" stroke="black" stroke-width="2.5" stroke-linecap="round" />
				</svg>
			</button>
			<div data-fls-popup-content class="popup__content popup-detais">
				<div class="popup-detais__block">
					<div class="popup-detais__head title-block">
						<span class="popup-detais__ic ic-1"></span>
						Умови участі у розіграші
					</div>
					<p>Приймай участь у розіграші <b>ексклюзивних колекційних моделей</b> від бренду <b>«Автопром»</b> — усе просто:</p>
					<ul class="popup-detais__list">
						<li>
							Купуй будь-яку продукцію бренду «Автопром» зі знижкою –20% на суму від 499 грн.
						</li>
						<li>
							Будь учасником програми лояльності магазину.
						</li>
						<li>
							Вигравай одну з 16 ексклюзивних колекційних моделей автомобілів!
						</li>
					</ul>
				</div>
				<div class="popup-detais__block">
					<div class="popup-detais__head title-block">
						<span class="popup-detais__ic ic-2"></span>
						Деталі акції
					</div>
					<p>Акція діє <b>на всі товари бренду «Автопром»</b>, включно з тими, що беруть участь у знижці –20%. Пропозиція актуальна як в <b>онлайн-магазині</b>, так і в <b>офлайн-точках продажу</b>.</p>
					<p><b>Список мереж та терміни акції:</b></p>
					<ul class="popup-detais__list-2">
						<li>
							Чудо-Острів (19/11 - 02/12)
						</li>
						<li>
							Будинок іграшок (03/12 - 16/12)
						</li>
						<li>
							Епіцентр (17/12 - 30/12)
						</li>
					</ul>
				</div>
				<div class="popup-detais__block">
					<div class="popup-detais__head title-block">
						<span class="popup-detais__ic ic-3"></span>
						Призовий фонд
					</div>
					<ul class="popup-detais__list-2">
						<li>
							16 ексклюзивних колекційних моделей автомобілів (по 4 моделі кожної марки)
						</li>
						<li>
							Масштаб: 1:18
						</li>
						<li>
							Офіційна ліцензія
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>