<script type="module" src="@components/pages/index/index.js"></script>
<link rel="stylesheet" href="@components/pages/index/index.scss">

<main class="page page--index">
	<section id="section-hero" class="hero">
		<div class="hero__bg bg-hero">
			<img class="bg-hero__first ibg" src="@img/hero/hero-bg-first.jpg" width="1440" height="650" alt="Image">
			<img class="bg-hero__pattern ibg" src="@img/hero/hero-bg-pattern.png" width="1440" height="650" alt="Image">
			<div class="bg-hero__gradient-body">
				<div class="bg-hero__gradient bg-hero__gradient--1 --active"></div>
				<div class="bg-hero__gradient bg-hero__gradient--2"></div>
				<div class="bg-hero__gradient bg-hero__gradient--3"></div>
				<div class="bg-hero__gradient bg-hero__gradient--4"></div>
			</div>
		</div>
		<div class="hero__container">
			<div class="hero__body">
				<div class="hero__head">
					<h1 class="hero__title title-main">Збери свій<br> автопарк мрії</h1>
					<div class="hero__subtitle txt-24">
						<p>4 колекції. Десятки моделей. Максимум драйву.</p>
					</div>
					<a href="#" data-fls-btn data-fls-scrollto="#section-buy" data-fls-dynamic=".hero__container,820.98,last" class="hero__link btn btn--main" aria-label="перейти до блока де купити">
						<span>Обрати магазин</span>
					</a>
				</div>
				<div class="hero__label">
					<p>Розіграш ексклюзивних моделей — деталі нижче</p>
				</div>
			</div>
			<div data-fls-slider class="hero__slider slider-hero swiper">
				<ul class="slider-hero__wrapper swiper-wrapper">
					<li class="slider-hero__slide swiper-slide">
						<div class="slider-hero__content">
							<div class="slider-hero__img">
								<img fetchpriority="high" src="@img/cars/car-1.png" width="763" height="439" alt="Image">
							</div>
							<div class="slider-hero__name">
								<p>classic</p>
							</div>
						</div>
					</li>
					<li class="slider-hero__slide swiper-slide">
						<div class="slider-hero__content">
							<div class="slider-hero__img">
								<img  fetchpriority="high" src="@img/cars/car-2.png" width="763" height="439" alt="Image">
							</div>
							<div class="slider-hero__name">
								<p>Sport</p>
							</div>
						</div>
					</li>
					<li class="slider-hero__slide swiper-slide">
						<div class="slider-hero__content">
							<div class="slider-hero__img">
								<img  fetchpriority="high" src="@img/cars/car-3.png" width="763" height="439" alt="Image">
							</div>
							<div class="slider-hero__name">
								<p>Premium</p>
							</div>
						</div>
					</li>
					<li class="slider-hero__slide swiper-slide">
						<div class="slider-hero__content">
							<div class="slider-hero__img">
								<img  fetchpriority="high" src="@img/cars/car-4.png" width="763" height="439" alt="Image">
							</div>
							<div class="slider-hero__name">
								<p>Electric</p>
							</div>
						</div>
					</li>
				</ul>
				<div class="slider-hero__pagination swiper-pagination"></div>
				<button type="button" class="slider-hero__nav swiper-button swiper-button--transp swiper-button-prev" aria-label="назад">
					<svg width="25" height="17" viewBox="0 0 25 17" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.25 8.25H23.25M1.25 8.25L7.77326 1.25M1.25 8.25L7.77326 15.25" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</button>
				<button type="button" class="slider-hero__nav swiper-button swiper-button--transp swiper-button-next" aria-label="вперед">
					<svg width="25" height="17" viewBox="0 0 25 17" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M23.25 8.25H1.25M23.25 8.25L16.7267 1.25M23.25 8.25L16.7267 15.25" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</button>
			</div>
		</div>
	</section>
	<section id="section-about" class="about pd-t mrg-b">
		<div class="about__container">
			<div class="about__body">
				<h2 class="about__title title-block">Про нас</h2>
				<div class="about__img-1">
					<img loading="lazy" src="@img/about/about-3.jpg" width="394" height="571" alt="Image">
				</div>
				<div class="about__img-2">
					<img loading="lazy" src="@img/about/about-1.jpg" width="359" height="443" alt="Image">
				</div>
				<div class="about__txt-1">
					<p>Автопром - це світ, де дитячі мрії про швидкість і пригоди оживають! <span>Ми понад 10 років створюємо іграшки-транспорт</span>, що поєднують реалістичний дизайн, надійність і драйв.</p>
				</div>
				<div class="about__img-3">
					<img loading="lazy" src="@img/about/about-2.jpg" width="359" height="443" alt="Image">
				</div>
				<div class="about__txt-2">
					<p>У нашому асортименті — масштабні металеві моделі (die-cast) <span>з офіційними ліцензіями світових автомобільних марок</span> з функціоналом та без, яскраві паркінги, машинки на радіокеруванні, будівельна техніка, міський транспорт та
						багато іншого!</p>
				</div>
			</div>
		</div>
	</section>
	<section id="section-popular" class="popular pd-b">
		<div class="popular__container">
			<h2 class="popular__title title-block">Популярні моделі</h2>
			<ul class="popular__list">
				<li class="popular__item">
					<div class="popular__img">
						<img loading="lazy" src="@img/cars/car-mini-1.jpg" width="266" height="266" alt="Image">
					</div>
					<a href="https://bi.ua/ukr/product/avtomodel-avtoprom-bentley-continental-gt3-concep-124-68266a.html" class="popular__link" target="_blank" aria-label="посилання на магазин">
						Автомодель Автопром Bentley Continental GT3 Concep 1:24 (68266A)
					</a>
					<div class="popular__buy">
						<a href="https://bi.ua/ukr/product/avtomodel-avtoprom-bentley-continental-gt3-concep-124-68266a.html" data-fls-btn target="_blank" class="popular__btn btn btn--main" aria-label="посилання на магазин">
							<span>Купити</span>
						</a>
					</div>
				</li>
				<li class="popular__item">
					<div class="popular__img">
						<img loading="lazy" src="@img/cars/car-mini-2.jpg" width="266" height="266" alt="Image">
					</div>
					<a href="https://bi.ua/ukr/product/avtomodel-avtoprom-toyota-corolla-hybrid-krasnaya-684321.html" class="popular__link" target="_blank" aria-label="посилання на магазин">
						Автомодель Автопром Toyota Corolla hybrid
					</a>
					<div class="popular__buy">
						<a href="https://bi.ua/ukr/product/avtomodel-avtoprom-toyota-corolla-hybrid-krasnaya-684321.html" data-fls-btn target="_blank" class="popular__btn btn btn--main" aria-label="посилання на магазин">
							<span>Купити</span>
						</a>
					</div>
				</li>
				<li class="popular__item">
					<div class="popular__img">
						<img loading="lazy" src="@img/cars/car-mini-3.jpg" width="266" height="266" alt="Image">
					</div>
					<a href="https://bi.ua/ukr/product/avtomodel-avtoprom-red-bull-livery-bmw-m-hybrid-v8-68292a.html" class="popular__link" target="_blank" aria-label="посилання на магазин">
						Автомодель Автопром Red Bull Livery BMW M Hybrid V8 (68292A)
					</a>
					<div class="popular__buy">
						<a href="https://bi.ua/ukr/product/avtomodel-avtoprom-red-bull-livery-bmw-m-hybrid-v8-68292a.html" data-fls-btn target="_blank" class="popular__btn btn btn--main" aria-label="посилання на магазин">
							<span>Купити</span>
						</a>
					</div>
				</li>
				<li class="popular__item">
					<div class="popular__img">
						<img loading="lazy" src="@img/cars/car-mini-4.jpg" width="266" height="266" alt="Image">
					</div>
					<a href="https://bi.ua/ukr/product/avtomodel-avtoprom-bmw-i4-m50-zelena-687143.html" class="popular__link" target="_blank" aria-label="посилання на магазин">
						Автомодель Автопром BMW I4 M50 зелена (68714/3)
					</a>
					<div class="popular__buy">
						<a href="https://bi.ua/ukr/product/avtomodel-avtoprom-bmw-i4-m50-zelena-687143.html" data-fls-btn target="_blank" class="popular__btn btn btn--main" aria-label="посилання на магазин">
							<span>Купити</span>
						</a>
					</div>
				</li>
				<!-- <li class="popular__item">
					<div class="popular__img">
						<img loading="lazy" src="@img/cars/car-mini-5.jpg" width="266" height="266" alt="Image">
					</div>
					<a href="" class="popular__link" target="_blank" aria-label="посилання на магазин">
						Автомодель Автопром BMW i7 червона (68730/2)
					</a>
					<div class="popular__buy">
						<a href="" data-fls-btn target="_blank" class="popular__btn btn btn--main" aria-label="посилання на магазин">
							<span>Купити</span>
						</a>
					</div>
				</li> -->
				<li class="popular__item">
					<div class="popular__img">
						<img loading="lazy" src="@img/cars/car-mini-6.jpg" width="266" height="266" alt="Image">
					</div>
					<a href="https://bi.ua/ukr/product/avtomodel-avtoprom-audi-rs-e-tron-gt-belaya-687172.html" class="popular__link" target="_blank" aria-label="посилання на магазин">
						Автомодель Автопром Audi RS e-tron GT біла (68717/2)
					</a>
					<div class="popular__buy">
						<a href="https://bi.ua/ukr/product/avtomodel-avtoprom-audi-rs-e-tron-gt-belaya-687172.html" data-fls-btn target="_blank" class="popular__btn btn btn--main" aria-label="посилання на магазин">
							<span>Купити</span>
						</a>
					</div>
				</li>
				<li class="popular__item">
					<div class="popular__img">
						<img loading="lazy" src="@img/cars/car-mini-7.jpg" width="266" height="266" alt="Image">
					</div>
					<a href="https://epicentrk.ua/ua/shop/avtomodel-avtoprom-1-34-range-rover-2013-68357.html" class="popular__link" target="_blank" aria-label="посилання на магазин">
						Автомодель Автопром 1:34 Range Rover 2013 68357
					</a>
					<div class="popular__buy">
						<a href="https://epicentrk.ua/ua/shop/avtomodel-avtoprom-1-34-range-rover-2013-68357.html" data-fls-btn target="_blank" class="popular__btn btn btn--main" aria-label="посилання на магазин">
							<span>Купити</span>
						</a>
					</div>
				</li>
				<li class="popular__item">
					<div class="popular__img">
						<img loading="lazy" src="@img/cars/car-mini-8.jpg" width="266" height="266" alt="Image">
					</div>
					<a href="https://epicentrk.ua/ua/shop/avtomodel-avtoprom-1-32-mercedes-benz-s-600-2015-68401.html" class="popular__link" target="_blank" aria-label="посилання на магазин">
						Автомодель Автопром 1:32 Mercedes-Benz S 600 2015 68401
					</a>
					<div class="popular__buy">
						<a href="https://epicentrk.ua/ua/shop/avtomodel-avtoprom-1-32-mercedes-benz-s-600-2015-68401.html" data-fls-btn target="_blank" class="popular__btn btn btn--main" aria-label="посилання на магазин">
							<span>Купити</span>
						</a>
					</div>
				</li>
				<li class="popular__item">
					<div class="popular__img">
						<img loading="lazy" src="@img/cars/car-mini-9.jpg" width="266" height="266" alt="Image">
					</div>
					<a href="https://epicentrk.ua/ua/shop/avtomodel-avtoprom-1-32-bmw-m3-dtm-68355-b.html" class="popular__link" target="_blank" aria-label="посилання на магазин">
						Автомодель Автопром 1:32 BMW M3 DTM 68355(B)
					</a>
					<div class="popular__buy">
						<a href="https://epicentrk.ua/ua/shop/avtomodel-avtoprom-1-32-bmw-m3-dtm-68355-b.html" data-fls-btn target="_blank" class="popular__btn btn btn--main" aria-label="посилання на магазин">
							<span>Купити</span>
						</a>
					</div>
				</li>
				<li class="popular__item">
					<div class="popular__img">
						<img loading="lazy" src="@img/cars/car-mini-10.jpg" width="266" height="266" alt="Image">
					</div>
					<a href="https://epicentrk.ua/ua/shop/avtomodel-avtoprom-1-32-land-cruiser-prado-68482-b.html" class="popular__link" target="_blank" aria-label="посилання на магазин">
						Автомодель Автопром 1:32 Land Cruiser Prado 68482(B)
					</a>
					<div class="popular__buy">
						<a href="https://epicentrk.ua/ua/shop/avtomodel-avtoprom-1-32-land-cruiser-prado-68482-b.html" data-fls-btn target="_blank" class="popular__btn btn btn--main" aria-label="посилання на магазин">
							<span>Купити</span>
						</a>
					</div>
				</li>
				<li class="popular__item">
					<div class="popular__img">
						<img loading="lazy" src="@img/cars/car-mini-11.jpg" width="266" height="266" alt="Image">
					</div>
					<a href="https://epicentrk.ua/ua/shop/avtomodel-avtoprom-1-32-hurac-n-sto-68716.html" class="popular__link" target="_blank" aria-label="посилання на магазин">
						Автомодель Автопром 1:32 Huracán STO 68716
					</a>
					<div class="popular__buy">
						<a href="https://epicentrk.ua/ua/shop/avtomodel-avtoprom-1-32-hurac-n-sto-68716.html" data-fls-btn target="_blank" class="popular__btn btn btn--main" aria-label="посилання на магазин">
							<span>Купити</span>
						</a>
					</div>
				</li>
				<li class="popular__item">
					<div class="popular__img">
						<img loading="lazy" src="@img/cars/car-mini-12.jpg" width="266" height="266" alt="Image">
					</div>
					<a href="https://epicentrk.ua/ua/shop/avtomodel-avtoprom-1-24-mclaren-mcl60-2023-68287a.html" class="popular__link" target="_blank" aria-label="посилання на магазин">
						Автомодель Автопром 1:24 McLaren MCL60 2023 68287A
					</a>
					<div class="popular__buy">
						<a href="https://epicentrk.ua/ua/shop/avtomodel-avtoprom-1-24-mclaren-mcl60-2023-68287a.html" data-fls-btn target="_blank" class="popular__btn btn btn--main" aria-label="посилання на магазин">
							<span>Купити</span>
						</a>
					</div>
				</li>
				<!-- <li class="popular__item">
					<div class="popular__img">
						<img loading="lazy" src="@img/cars/car-mini-13.jpg" width="266" height="266" alt="Image">
					</div>
					<a href="" class="popular__link" target="_blank" aria-label="посилання на магазин">
						Автомодель Автопром 1:24 BMW M4 GT3 68296A(P)
					</a>
					<div class="popular__buy">
						<a href="" data-fls-btn target="_blank" class="popular__btn btn btn--main" aria-label="посилання на магазин">
							<span>Купити</span>
						</a>
					</div>
				</li> -->
				<li class="popular__item">
					<div class="popular__img">
						<img loading="lazy" src="@img/cars/car-mini-14.jpg" width="266" height="266" alt="Image">
					</div>
					<a href="https://epicentrk.ua/ua/shop/avtomodel-avtoprom-1-31-mclaren-p1-gtr-68444-yr.html" class="popular__link" target="_blank" aria-label="посилання на магазин">
						Автомодель Автопром 1:31 Mclaren P1 GTR 68444(YR)
					</a>
					<div class="popular__buy">
						<a href="https://epicentrk.ua/ua/shop/avtomodel-avtoprom-1-31-mclaren-p1-gtr-68444-yr.html" data-fls-btn target="_blank" class="popular__btn btn btn--main" aria-label="посилання на магазин">
							<span>Купити</span>
						</a>
					</div>
				</li>
			</ul>
			<div class="popular__banner banner-popular">
				<div class="banner-popular__body">
					<span class="banner-popular__ic"></span>
					<div class="banner-popular__txt">
						<p>Купуючи будь-яку модель Автопром, ти <span>автоматично</span> отримуєш шанс виграти колекційну модель 1:18</p>
					</div>
					<button type="button" data-fls-btn data-fls-popup-link="popup--details" class="banner-popular__btn btn btn--acc" aria-label="відкрити попап з деталями акції">
						<span>Деталі акції</span>
					</button>
				</div>
				<picture>
					<source srcset="@img/label-mb.jpg" type="image/webp">
					<source srcset="@img/label-pc.jpg" media="(min-width: 30.062em)" type="image/webp">
					<img class="banner-popular__bg ibg" loading="lazy" src="@img/label-pc.jpg" width="1240" height="141" alt="image">
				</picture>
			</div>
		</div>
	</section>
	<section id="section-buy" class="shop pd-t pd-b">
		<div class="shop__container">
			<h2 class="shop__title title-block">Де можна купити</h2>
			<div class="shop__subtitle txt-24">
				<p>Купуй у зручному для тебе магазині та долучайся до розіграшу</p>
			</div>
			<ul class="shop__list shop__list--prize">
				<li class="shop__item">
					<a href="https://bi.ua/ukr/gsearch/brand-filter=avtoprom?search=%D0%B0%D0%B2%D1%82%D0%BE%D0%BF%D1%80%D0%BE%D0%BC" target="_blank" class="shop__link">
						<img loading="lazy" src="@img/shop/shop-1.png" width="400" height="200" alt="Image">
					</a>
				</li>
				<li class="shop__item">
					<a href="https://bi.ua/ukr/gsearch/brand-filter=avtoprom?search=%D0%B0%D0%B2%D1%82%D0%BE%D0%BF%D1%80%D0%BE%D0%BC" target="_blank" class="shop__link">
						<img loading="lazy" src="@img/shop/shop-2.png" width="400" height="200" alt="Image">
					</a>
				</li>
				<li class="shop__item">
					<a href="https://epicentrk.ua/ua/brands/avtoprom.html" target="_blank" class="shop__link">
						<img loading="lazy" src="@img/shop/shop-3.png" width="400" height="200" alt="Image">
					</a>
				</li>
			</ul>
			<div class="shop__subtitle txt-24">
				<p>Магазини які не беруть участь у розіграші</p>
			</div>
			<ul class="shop__list">
				<li class="shop__item">
					<a href="https://rozetka.com.ua/ua/search/?producer=avtoprom&text=%D0%B0%D0%B2%D1%82%D0%BE%D0%BF%D1%80%D0%BE%D0%BC" target="_blank" class="shop__link">
						<img loading="lazy" src="@img/shop/shop-4.png" width="400" height="200" alt="Image">
					</a>
				</li>
				<li class="shop__item">
					<a href="https://myplay.ua/search?category=0&term=%D0%B0%D0%B2%D1%82%D0%BE%D0%BF%D1%80%D0%BE%D0%BC" target="_blank" class="shop__link">
						<img loading="lazy" src="@img/shop/shop-5.png" width="400" height="200" alt="Image">
					</a>
				</li>
			</ul>
		</div>
	</section>
	<section id="section-video" class="video pd-t pd-b">
		<div class="video__container">
			<h2 class="video__title title-block">Кілька відео про наш Автопром</h2>
		</div>
		<div class="video__container--2">
			<div data-fls-slider class="video__slider slider-video swiper">
				<ul class="slider-video__wrapper swiper-wrapper">
					<li class="slider-video__slide swiper-slide">
						<div data-fls-videobutton class="video-youtube__body">
							<button class="video-youtube__button" type="button" data-youtube="gwOmuVNsQCU" aria-label="open youtube">
								<img loading="lazy" class="ibg" src="@img/poster/poster-1.jpg" width="712" height="400" alt="poster video">
							</button>
						</div>
					</li>
					<li class="slider-video__slide swiper-slide">
						<div data-fls-videobutton class="video-youtube__body">
							<button class="video-youtube__button" type="button" data-youtube="gwOmuVNsQCU" aria-label="open youtube">
								<img loading="lazy" class="ibg" src="@img/poster/poster-2.jpg" width="712" height="400" alt="poster video">
							</button>
						</div>
					</li>
					<li class="slider-video__slide swiper-slide">
						<div data-fls-videobutton class="video-youtube__body">
							<button class="video-youtube__button" type="button" data-youtube="gwOmuVNsQCU" aria-label="open youtube">
								<img loading="lazy" class="ibg" src="@img/poster/poster-3.jpg" width="712" height="400" alt="poster video">
							</button>
						</div>
					</li>
					<li class="slider-video__slide swiper-slide">
						<div data-fls-videobutton class="video-youtube__body">
							<button class="video-youtube__button" type="button" data-youtube="gwOmuVNsQCU" aria-label="open youtube">
								<img loading="lazy" class="ibg" src="@img/poster/poster-1.jpg" width="712" height="400" alt="poster video">
							</button>
						</div>
					</li>
				</ul>
				<div class="slider-video__pagination swiper-pagination"></div>
				<button type="button" class="slider-video__nav swiper-button swiper-button--white swiper-button-prev" aria-label="назад">
					<svg width="25" height="17" viewBox="0 0 25 17" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.25 8.25H23.25M1.25 8.25L7.77326 1.25M1.25 8.25L7.77326 15.25" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</button>
				<button type="button" class="slider-video__nav swiper-button swiper-button--white swiper-button-next" aria-label="вперед">
					<svg width="25" height="17" viewBox="0 0 25 17" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M23.25 8.25H1.25M23.25 8.25L16.7267 1.25M23.25 8.25L16.7267 15.25" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</button>
			</div>
		</div>
	</section>
</main>