.hero {
position: relative;
z-index: 2;
min-height: 100svh;
padding-top: 90px;
padding-bottom: 20px;
display: flex;
@media (min-width:toEm($mobile)){
	align-items: center;
	padding-top: 128px;
	padding-bottom: 40px;
}
		// .hero__bg
		&__bg {
		}

		// .hero__container
		&__container {
			max-width: 1400px;
			display: grid;
			grid-template-columns: 100%;
			align-items: center;
			position: relative;
			@media (min-width:toEm(1200.98)){
				grid-template-columns: auto 60%;
			}
			@media (max-width: toEm(1200.98)) and (min-width: toEm(820.98)) {
				grid-template-columns: auto 50%;
			}
			@media (max-width:toEm($mobileSmall)){
				 flex: 1; 
			}
		}
		
		// .hero__body
		&__body {
			@media (min-width:toEm($mobileSmall)){
				height: 100%;
				display: flex;
				flex-direction: column;
				gap: 30px;
			}
		}

		// .hero__head
		&__head {
			@include adaptiveValue("left", 160, 0,2,1400.98,1080);
			@media (min-width:toEm($mobileSmall)){
				flex: 1;
				padding-top: 60px;
				position: relative;
			}
		}

		// .hero__title
		&__title {
			color: var(--white);
			text-transform: uppercase;
			margin-bottom: 20px;
			@media (min-width:toEm($mobileSmall)){
				 margin-bottom: 30px; 
			}
		}
		
		// .hero__subtitle
		&__subtitle {
			color: var(--white);
			line-height: 1.2;
			@media (min-width:toEm($mobileSmall)){
				 max-width: 380px; 
			}
			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}
		
		// .hero__link
		&__link {
			min-width: 275px;
			@media (min-width:toEm($mobileSmall)){
				margin-inline: auto;
			}
			@media (min-width:toEm(820.98)){
				margin-inline: unset;
			}
			&.btn {
				@media (max-width:toEm($mobileSmall)){
					 max-width: 100%; 
				}
			}
		}
		
		// .hero__label
		&__label {
			display: none;
			@include adaptiveValue("left", 160, 0,2,1400.98,1080);
			@media (min-width:toEm(820.98)){
				display: inline-flex;
				gap: 10px;
				padding: 11px 14px;
				backdrop-filter: blur(15px);
				border-radius: 6px;
				background: rgba(255, 255, 255, 0.1);
				color: var(--white);
				font-size: 16px;
				position: relative;
				max-width: max-content;
				  
				&::before {
					content:'';
					width: 20px;
					aspect-ratio: 1;
					background-image: url("@img/gifts.png");
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
				}
			}
		}
		
		// .hero__slider
		&__slider {
			// @media (max-width: toEm(820.98)){
			// 	  margin-bottom: 30px;
			// }
		}
}




.slider-hero {
	overflow: visible;
	@media (max-width: toEm(1200.98)){
		position: relative;
	}
		// .slider-hero__wrapper
		&__wrapper {
		}

		// .slider-hero__slide
		&__slide {
		}

		// .slider-hero__content
		&__content {
			user-select: none;
		}

		// .slider-hero__img
		&__img {
			@media (max-width: toEm(820.98)){
				  margin-bottom: 15px;
			}
			@media (max-width:toEm($mobileSmall)){
				 margin-inline: -20px; 
			}
		}

		// .slider-hero__name
		&__name {
			@include adaptiveValue("font-size", 60, 34);
			font-weight: 800;
			text-transform: uppercase;
			opacity: .2;
			font-family: "AmazingSlab", sans-serif;
			color: var(--white);
			text-align: right;
		}

		// .slider-hero__pagination
		&__pagination {
			@media (min-width:toEm(1200.98)){
				position: absolute;
				bottom: 80px;
				right: 280px;
			}
			@media (max-width: toEm(1200.98)){
				padding-block: 20px;
				justify-content: center;
			}
		}

		// .slider-hero__nav
		&__nav {
			display: none;
			@media (min-width:toEm(1200.98)){
				position: absolute;
				z-index: 5;
				top: 50%;
				transform: translateY(-50%);
			}
			@media (min-width:toEm(820.98)){
				display: inline-block;
			}
			&.swiper-button-prev {
				@media (min-width:toEm(1200.98)){
					left: 20px;
				}
				@media (max-width: toEm(1200.98)){
					margin-left: 20px;
				}
			}
			&.swiper-button-next {
				@media (min-width:toEm(1200.98)){
					right: 20px;
				}
			}
		}
}

.swiper-pagination {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 8px;
	.swiper-pagination-bullet {
		width: 14px;
		height: 14px;
		border-radius: 4px;
		background-color: var(--white);
		opacity: 0.2;
		transition: opacity .3s ease;
		&.swiper-pagination-bullet-active {
			opacity: 1;
		}
	}
}

.swiper-button {
	width: 60px;
	height: 60px;
	border-radius: 6px;
	transition: background-color .3s ease;
	&--transp {
		background-color: rgba(255, 255, 255, 0.2);
		@media (any-hover: hover){
			&:hover{
				background-color: rgba(255, 255, 255, 1);
				svg {
					path {
						stroke: var(--primary);
					}
				}
			}
		}
	}
	svg,img {
		width: 25px;
		aspect-ratio: 22/14;
		transition: transform .3s ease, stroke .3s ease;
	}
	&.swiper-button-prev {
		@media (any-hover: hover){
			&:hover{
				svg,img {
					transform: translateX(-5px);
				}
			}
		}
	}
	&.swiper-button-next {
		@media (any-hover: hover){
			&:hover{
				svg,img {
					transform: translateX(5px);
				}
			}
		}
	}
	&.swiper-button-disabled {
		opacity: .6;
		pointer-events: none;
	}
}


.bg-hero {
	position: absolute;
	inset: 0;
	z-index: -1;
	overflow: hidden;
		// .bg-hero__first

		&__first {
			position: relative;
			z-index: 1;
			object-position: left;
			@media (min-width: toEm($mobileSmall)){
				object-position: center;
			}
		}

		// .bg-hero__pattern

		&__pattern {
			position: absolute;
			inset: 0;
			z-index: 3;
		}

		// .bg-hero__gradient-body

		&__gradient-body {
			position: absolute;
			inset: 0;
			z-index: 2;
		}

		// .bg-hero__gradient

		&__gradient {
			position: absolute;
			inset: 0;
			clip-path: polygon(131% 0, 100% 0, 100% 100%, -29% 100%);
			transition: opacity .45s ease .15s;
			opacity: 0;
			@media (min-width:toEm(820.98)){
				clip-path: polygon(79% 0, 100% 0, 100% 100%, 35% 100%);
			}
			&.--active {
				opacity: 1;
				transition-delay: 0s;
				z-index: 5;
			}
		}

		// .bg-hero__gradient--1

		&__gradient--1 {
			background: var(--gradient-green);
		}
		
		// .bg-hero__gradient--2
		
		&__gradient--2 {
			background: var(--gradient-red);
		}
		
		// .bg-hero__gradient--3
		
		&__gradient--3 {
			background: var(--gradient-orange);
		}
		
		// .bg-hero__gradient--4
		
		&__gradient--4 {
			background: var(--gradient-blue);
		}
}



.about {
	position: relative;
	z-index: 1;
	&:before {
		content:'';
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		transform: translate(-48%,0%);
		width: 1741px;
		@include adaptiveValue("width", 1741,627 );
		aspect-ratio: 1741/1102;
		background-image: url("@img/figures/figure-1.svg");
		background-repeat: no-repeat;
		background-size: contain;
		@media (min-width:toEm($mobileSmall)){
			transform: translate(-41%,0%);
		}
	}
		// .about__container
		&__container {
		}

		// .about__body
		&__body {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 0px 20px;

			img {
				border-radius: 6px;
				// border: 6px solid transparent;
				@extend %ibg;
			}

			@media (min-width:toEm(820.98)){
				gap: 0px 50px;
				grid-template-columns: 32% 1fr 29%;
			}
		}

		// .about__title
		&__title {
			line-height: 1.5;
			margin-bottom: 16px;
			@media (min-width:toEm(820.98)){
				margin-bottom: 0px;
				  grid-column: 2/3;
					grid-row: 1/2;
			}
		}

		// .about__img-1
		&__img-1 {
			@media (min-width:toEm(820.98)){
				grid-column: 3/4;
				grid-row: 1/4;
			}
			img {
				@media (min-width:toEm(820.98)){
					aspect-ratio: 1;
				}
			}
		}

		// .about__img-2
		&__img-2 {
			grid-column: 2/3;
			grid-row: 1/3;
			@media (min-width:toEm(820.98)){
				grid-column: 1/2;
				grid-row: 1/5;
			}
			img {
				aspect-ratio: 168/250;
			}
		}
		
		// .about__img-3
		&__img-3 {
			grid-column: span 2;
			@media (min-width:toEm(820.98)){
				grid-column: 2/3;
				grid-row: 3/4;
			}
			img {
				aspect-ratio: 380/202;
			}
		}

		// .about__txt-1
		&__txt-1 {
			font-size: 18px;
			line-height: 1.45;
			span {
				color: var(--green);
				font-weight: 700;
			}

			padding-block: 30px;
			grid-column: span 2;
			@media (min-width:toEm(820.98)){
				grid-column: 2/3;
				grid-row: 2/3;
			}
		}
		
		
		// .about__txt-2
		&__txt-2 {
				font-size: 18px;
			line-height: 1.45;
			span {
				color: var(--green);
				font-weight: 700;
			}

			grid-column: span 2;
			padding-block: 30px;
			p {
				@media (min-width:toEm(820.98)){
					max-width: 590px;
				}
			}
		}
}


.popular {
		// .popular__container
		&__container {
		}

		// .popular__title
		&__title {
			margin-bottom: 16px;
			@media (min-width:toEm($mobileSmall)){
				 margin-bottom: 30px; 
			}
		}

		// .popular__list
		&__list {
			display: grid;
			gap: 10px;
			grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
			@media (min-width:toEm($mobileSmall)){
				grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
			}
		}

		// .popular__item
		&__item {
			cursor: pointer;
			position: relative;
			z-index: 2;
			border-radius: 12px; 
			padding: 8px;
			background-color: var(--gray-light);
			display: flex;
			flex-direction: column;
			height: 100%;
			transition: box-shadow .3s ease;
			@media (any-hover: hover){
				&:hover{
					box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.16);
					z-index: 3;
					.popular__buy {
						box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.16);
						visibility: visible;
						opacity: 1;
						pointer-events: all;
							transform: translateY(0%);
					}
				}
			}
			[data-fls-touch] & {
				@media (min-width:toEm($mobileSmall)){
					 padding: 10px; 
				}
			}
			@media (min-width:toEm($mobileSmall)){
				 border-radius: 16px; 
				 padding: 10px 10px 20px;
			}
		}

		// .popular__img
		&__img {
			aspect-ratio: 1;
			border-radius: 6px;
			overflow: hidden;
			margin-bottom: 14px;
			@media (min-width:toEm($mobileSmall)){
				 margin-bottom: 20px; 
			}
			img {
				@extend %ibg;
				aspect-ratio: 1;
			}
		}

		// .popular__link
		&__link {
			flex: 1;
			font-size: 15px;
			font-weight: 500;
			line-height: 1.2;
			transition: color .3s ease;
			@media (any-hover: hover){
				&:hover{
					color: var(--orange);
				}
			}
			@media (min-width:toEm($mobileSmall)){
				 font-size: 18px; 
			}
		}

		// .popular__buy
		&__buy {
			position: absolute;
			z-index: -1;
			top: calc(100% - 16px);
			left: 0;
			width: 100%;
			padding: 8px;
			background-color: var(--gray-light);
			border-radius: 0 0 12px 12px;
			transition: box-shadow .3s ease, opacity .3s ease, visibility .3s ease, transform .3s ease;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transform: translateY(-5%);

			[data-fls-touch] & {
					top: 0;
					padding: 15px 0 0 0;
					visibility: visible;
					position: relative;
					opacity: 1;
					pointer-events: all;
					transform: translateY(0%);
			}

			@media (min-width:toEm($mobileSmall)){
				border-radius: 0 0 16px 16px;
				padding: 16px 10px 10px; 
			}
		}
		
		// .popular__btn
		&__btn {
			max-width: 100%;
			box-shadow: unset;
			@media (max-width:toEm($mobileSmall)){
				 font-size: 15px;
				 min-height: 34px; 
			}
			@media (any-hover: hover){
				&:hover{
					box-shadow: unset;
				}
			}
		}
}
