.video-youtube {
  width: 100%;
  // .video-youtube__body
  &__body {
    position: relative;
    z-index: 2;
    background-color: var(--gray-light);
    aspect-ratio: 712/400;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
    outline: 4px solid var(--white);
    @media (min-width:toEm($mobileSmall)){
      outline: 6px solid var(--white);
    }
    @media (min-width:toEm($mobileSmall)){
      box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
    }
    iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
     aspect-ratio: 712/400;
    }
  }
  // .video-youtube__button
  &__button {
    overflow: hidden;
    position: relative;
    z-index: 0;
    width: 100%;
    aspect-ratio: 712/400;
    @media (any-hover: hover){
      &:hover{
        &::before {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }
    }
    &::before {
      content: '';
      position: absolute;
      pointer-events: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image:url('@img/icon/play.svg');
      background-repeat: no-repeat;
      background-size: contain;
      transition: transform .65s ease;
      @include adaptiveValue("width", 80, 50);
      aspect-ratio: 1;
    }
    img {
      // height: 100% !important;
      // max-width: 100% !important;;
    }
  }
}
