// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення CSS-змінних
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@use "includes/variables.css";

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення загальних віддалених шрифтів (Google Fonts)
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Стилі тега BODY
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
body {
	min-width: #{$minWidth}px;
	color: $mainColor;
	font-family: $fontFamily;
	font-size: #{$fontSize}px;

	// Скролл заблоковано
	[data-fls-scrolllock] & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	[data-fls-loaded] & {
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Оболонка WRAPPER
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Обмежуючий контейнер
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt


// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Загальні стилі для усього сайту
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

[class*="__container"] {
	width: 100%;
	max-width: 1280px;
	padding-inline: 20px;
	margin-inline: auto;
}

.ibg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

* {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  &::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 3px;
  }
}

.ff-acc {
	font-family: "AmazingSlab", sans-serif;
}
.title-main {
	font-family: "AmazingSlab", sans-serif;
	@include adaptiveValue("font-size", 48, 38);
	line-height: 1.35;
	font-weight: 800;
	@media (min-width:toEm($mobileSmall)){
		line-height: 1.13;
	}
}
.title-block {
	font-family: "AmazingSlab", sans-serif;
	@include adaptiveValue("font-size", 40, 34);
	font-weight: 700;
}

.txt-24 {
	font-size: 24px;
	font-weight: 700;
}

.pd-t {
	@include adaptiveValue("padding-top", 100, 55);
}

.pd-b {
	@include adaptiveValue("padding-bottom", 100, 55);
}

.mrg-b {
	@include adaptiveValue("margin-bottom", 100, 55);
}