.header {
	position: fixed;
	width: 100%;
	top: 15px;
	left: 0;
	z-index: 15;
	pointer-events: none;

	@media (min-width:toEm($mobile)) {
		top: 60px;
	}

	// .header__container
	&__container {}

	// .header__body
	&__body {
		pointer-events: all;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
		min-height: 60px;

		@media (min-width:toEm($mobile)) {
			padding: 10px 20px;
			backdrop-filter: blur(15px);
			background-color: rgba(0, 0, 0, 0.6);
			border-radius: 6px;
			max-width: 1040px;
			margin-inline: auto;
		}
	}

	// .header__logo
	&__logo {
		position: relative;
		z-index: 5;

		@media (max-width:toEm($mobile)) {
			backdrop-filter: blur(15px);
			background-color: rgba(0, 0, 0, 0.6);
			border-radius: 6px;
			min-height: 60px;
			display: flex;
			align-items: center;
			padding-inline: 15px;

			transition: all .45s ease 0.1s;

			[data-fls-menu-open] & {
				background-color: rgba(0, 0, 0, 0);
				backdrop-filter: blur(0px);
				transition: all .1s;
			}
		}

		img {
			@include adaptiveValue("max-width", 266, 150);
			height: auto;
		}
	}
}

[data-fls-header-scroll] {
	@media (min-width:toEm($mobile)) {
		transition: top 0.45s ease;
	}

	&.--header-scroll {
		@media (min-width:toEm($mobile)) {
			top: 10px;
		}
	}
}

// [data-fls-header-scroll-show] {
// 	&.--header-scroll {
// 		transition: top 0.3s;
// 	}
// 	&.--header-show {
// 		translate: 0 0;
// 	}
// }





.menu {

	// .menu__icon
	&__icon {}

	// .menu__body
	&__body {
		@media (max-width: toEm($mobile)) {
			position: fixed;
			width: 100%;
			height: 100svh;
			left: -100%;
			top: 0;
			// top: 5%;
			overflow: auto;
			padding: 15px 20px;

			// pointer-events: none;
			// visibility: hidden;
			// opacity: 0;

			// &::before {
			// 	content:"";
			// 	position: fixed;
			// 	inset: 0;
			// 	background-color: rgba(0,0,0,0.5);
			// 	pointer-events: none;
			// 	visibility: hidden;
			// 	opacity: 0;
			// 	transition: all .8s ease;
			// }


			// transition: top 0.45s, visibility .45s ease, opacity .45s ease;
			transition: left .3s ease;
			[data-fls-menu-open] & {
				left: 0;
				// pointer-events: all;
				// visibility: visible;
				// opacity: 1;
				// top: 0;
				// &::before {
				// 		pointer-events: all;
				// visibility: visible;
				// opacity: 1;
			// }
		}
	}
}

// .menu__content
&__content {
	@media (max-width:toEm($mobile)) {
		backdrop-filter: blur(15px);
		background-color: rgba(0, 0, 0, 0.6);
		border-radius: 6px;
		min-height: 100%;

		display: flex;
		flex-direction: column;
		gap: 40px;
		padding: 114px 20px 20px;
	}
}

// .menu__nav
&__nav {
	flex: 1;
}

// .menu__list
&__list {
	display: flex;
	flex-direction: column;
	gap: 30px;

	@media (min-width:toEm($mobile)) {
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 5px 30px;

	}
}

// .menu__item
&__item {}

// .menu__link
&__link {
	font-family: "AmazingSlab", sans-serif;
	font-size: 26px;
	font-weight: 700;
	color: var(--white);
	@extend %underline;

	@media (min-width:toEm($mobile)) {
		font-family: "Manrope", sans-serif;
		font-size: 16px;
	}
}

// .menu__social
&__social {}
}


.social-menu {
	display: flex;
	gap: 14px;

	@media (min-width:toEm($mobile)) {
		display: none;
	}

	// .social-menu__item
	&__item {}

	// .social-menu__link
	&__link {
		width: 48px;
		height: 48px;
		border-radius: 6px;
		background-color: rgba(255, 255, 255, 0.2);
		transition: background-color .3s ease;

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--orange);
			}
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}


.icon-menu {
	position: relative;
	z-index: 5;
	display: grid;
	place-items: center;
	border-radius: 6px;
	backdrop-filter: blur(15px);
	background-color: rgba(0, 0, 0, 0.6);
	width: 60px;
	height: 60px;
	transition: all .45s ease 0.1s;

	[data-fls-menu-open] & {
		background-color: rgba(0, 0, 0, 0);
		backdrop-filter: blur(0px);
		transition: all .1s;
	}

	@media (min-width:toEm($mobile)) {
		display: none;
	}

	// .icon-menu__item
	&__item {
		@media (max-width: toEm($mobile)) {
			position: relative;
			width: toRem(28);
			height: toRem(22);
			z-index: 5;

			@media (any-hover: none) {
				cursor: default;
			}

			span,
			&::before,
			&::after {
				content: "";
				transition: all 0.3s ease 0s;
				right: 0;
				position: absolute;
				width: 100%;
				height: 2.5px;
				border-radius: 3px;
				background-color: var(--white);
			}

			&::before {
				top: 0;
			}

			&::after {
				bottom: 0;
			}

			span {
				top: calc(50% - 1px);
			}

			[data-fls-menu-open] & {
				span {
					width: 0;
				}

				&::before,
				&::after {}

				&::before {
					top: calc(50% - 1px);
					transform: rotate(-45deg);
				}

				&::after {
					bottom: calc(50% - 1px);
					transform: rotate(45deg);
				}
			}
		}
	}
}