<header data-fls-header data-fls-header-scroll="50" class="header">
	<div class="header__container">
		<div class="header__body">
			<a href="#" data-fls-scrollto="#section-hero" class="header__logo">
				<img src="@img/icon/logo.svg" width="266" height="30" alt="Image">
			</a>
			<div class="header__menu menu">
				<button type="button" data-fls-menu class="menu__icon icon-menu" aria-label="відкрити меню">
					<span class="icon-menu__item">
						<span></span>
					</span>
				</button>
				<div class="menu__body">
					<div class="menu__content">
						<nav class="menu__nav">
							<ul class="menu__list">
								<li class="menu__item"><a href="#" data-fls-scrollto="#section-about" class="menu__link">Про нас</a></li>
								<li class="menu__item"><a href="#" data-fls-scrollto="#section-popular" class="menu__link">Популярні</a></li>
								<li class="menu__item"><a href="#" data-fls-scrollto="#section-buy" class="menu__link">Де купити</a></li>
								<li class="menu__item"><a href="#" data-fls-scrollto="#section-video" class="menu__link">Відео</a></li>
								<li class="menu__item"><a href="#" data-fls-scrollto="#footer" class="menu__link">Контакти</a></li>
							</ul>
						</nav>
						<ul class="menu__social social-menu">
							<li class="social-menu__item">
								<a href="https://www.instagram.com/krainaigrashok/" target="_blank" class="social-menu__link">
									<img src="@img/icon/insta.svg" width="48" height="48" alt="Image">
								</a>
							</li>
							<li class="social-menu__item">
								<a href="https://www.tiktok.com/@avtoprom_toys" target="_blank" class="social-menu__link">
									<img src="@img/icon/tt.svg" width="48" height="48" alt="Image">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>