<footer data-fls-footer id="footer" class="footer pd-t">
	<img loading="lazy" class="footer__bg ibg" src="@img/footer/bg.jpg" width="1400" height="466" alt="Image">
	<div class="footer__container">
		<div class="footer__top pd-b">
			<div class="footer__title">
				<p>Контакти</p>
			</div>
			<address class="footer__address">
				<div class="footer__item">
					<p class="footer__name">Адреса</p>
					<a href="https://maps.app.goo.gl/eKz75wacesAdmk6J6" target="_blank" class="footer__link" aria-label="лінк на гугл мапу">
						Київ, вул. Січових Стрільців, 130
					</a>
				</div>
				<div class="footer__item">
					<p class="footer__name">Телефон</p>
					<a href="tel:+380394004142" class="footer__link" aria-label="call to phone">
						+38 039 400 41 42
					</a>
				</div>
				<div class="footer__item">
					<p class="footer__name">Пошта</p>
					<a href="mailto:avtomashynky@mail.com" class="footer__link" aria-label="email">
						avtomashynky@mail.com
					</a>
				</div>
			</address>
		</div>
		<div class="footer__bottom bottom-footer">
			<div class="bottom-footer__left">
				<div class="bottom-footer__policy">
					<a href="#" aria-label="link privacy policy">Privacy Policy</a>
					<p>Auroprom © All Rights Reserved</p>
				</div>
				<div class="bottom-footer__logo">
					<img loading="lazy" src="@img/icon/logo.svg" width="266" height="30" alt="лого автопром">
				</div>
			</div>
			<ul class="bottom-footer__social">
				<li>
					<a href="https://www.instagram.com/krainaigrashok/" target="_blank" class="social-menu__link">
						<img src="@img/icon/insta.svg" width="48" height="48" alt="Image">
					</a>
				</li>
				<li>
					<a href="https://www.tiktok.com/@avtoprom_toys" target="_blank" class="social-menu__link">
						<img src="@img/icon/tt.svg" width="48" height="48" alt="Image">
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>